<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    
</head>

<body>  
    
    <header>
        <a class="title" href="#"><img src="./images/logo.png" alt="logo" style="width:60px;"> Local Search System</a> 
    </header>
    
    <form class="form" onsubmit="return validateForm();" >
        <img class="login_icon" src="./images/loginnew.png" alt="logo">
        <p>User Name: </p>
        <input class="input" type="text" id="username" name="username">
        <p>Password: </p>
        <input class="input" type="password" id="password" name="password">
        <input class="button" type="submit" value="Login">
        <a href=""><p style="text-align:center">Forgot Password?</p></a>
    </form>
    
    <script src="Js/index.js"></script>
</body>
</html>