*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.searchResults {
  padding: 20px 0 50px;
  margin-left: 140px;
  width: 550px;
  text-align: left;
}
#write {
    display: none;
}
.pagination {
  margin: auto;
  width: 18%;
  padding: 10px;
}
/* Pagination links */
.pagination a {
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
.signout{
    float:right;
    padding: 15px 50px 0px 0px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.signout:hover{
    text-decoration: none;
}
.resultItem {
  opacity: 0;
  margin-bottom: 20px;
  animation: show 0.5s forwards ease-in-out;
  color: black;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
}

.resultItem:hover {
  background-color: white;
}

.resultItem-title {
  margin-bottom: 4px;
}

.resultItem-title a {
  color: black;
  text-decoration: none;
}

.resultItem-title a:hover {
  text-decoration: underline;
}

.resultItem-snippet, .resultItem-link {
  color: black;
  font-size: 13px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

