.index_content {
    float:left;
    margin: 20px 0px;
    margin-left: 5%;
    width: 30%;
}
.icon-bar {
    float:left;
}
.indexform {
    padding-top: 30px;
}
.indexbutton {
    background: #273B7A;
    color: white;
    padding: 7px 50px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}