<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AddUser</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>

    <header>
        <a class="title" href="#"><img src="/static/images/logo.png" alt="logo" style="width:60px;"> Local Search System</a>
    </header>

    <form class="form" action="{% url 'User:loginaction' %}" method="POST">
        {% csrf_token %}
        <img class="login_icon" src="/static/images/loginnew.png" alt="logo">
        <p>Email: </p>
        <input class="input" type="text" id="email" name="email">
        <p>Password: </p>
        <input class="input" type="password" id="password" name="password">
        <p>Confirm Password: </p>
        <input class="input" type="password" id="confirmpassword" name="confirmpassword">
        <input type="checkbox" id="admin" name="admin">
        <label for="admin">Admin</label><br>
        <input class="button" type="submit" value="Add User"/>

    </form>

    <script src="/static/js/index.js"></script>
</body>
</html>