<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indexing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/common.css">
    <link rel="stylesheet" href="CSS/indexing.css">
</head>
   
<body>  
    
    <header>
        <a class="title" href="#"><img src="./images/logo.png" alt="logo" style="width:60px;"> Local Search System</a> 
    </header>
    
    <div class="sidebar">
      <a href="user-management.html"><i class="fa fa-users" title="User management"></i> User Management</a> 
      <a href="Item-Management.html" class="active"><i class="fa fa-list" title="Item management"></i> Item Management</a>
      <a href="web-scrapping.html"><i class="fa fa-globe" title="Web scrapping" ></i> Web Scraping</a>
      <a href="index.html"><i class="fa fa-sign-out" title="Sign out"></i> Sign Out</a> 
    </div>
    
    <div class="container">
    
    
    </div>
    
    
    <div class="index_content">
        <h3 class="indexing"><b>Select Feature</b></h3>
        <form class="indexform" onsubmit="return validateIndexingForm();">
          <input type="checkbox" id="itemname" name="itemname">
          <label for="itemname"> Item Name</label><br>
          <input type="checkbox" id="itemdescription" name="itemdescription">
          <label for="itemdescription"> Item Description</label><br>
          <input type="checkbox" id="itemurl" name="itemurl"> 
          <label for="itemurl"> Item Website</label><br><br>
          <input class="indexbutton" type="submit" value="Submit">
        </form>
    </div>
    
    
    <script src="Js/indexings.js"></script>

</body>
    
</html>