<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    
</head>

<body>  
    
    <header>
        <a class="title" href="#"><img src="./images/logo.png" alt="logo" style="width:60px;"> Local Search System</a> 
    </header>
    <br/>
    <div class="container">
        <div class="row">   
            <div class="col-md-8">
                    <h1>Name of the Person</h1>
                <p>Contains the information of the person's Biography(From Database)</p>
            
            </div>
        
            <div class="col-md-4">
                <table class="infobox vcard plainlist" style="width:22em">
                   <tbody>
                      <tr>
                         <td colspan="2" style="text-align:center">
                            <img class="person_image" src="./images/profile-icon.png" style="width:300px" alt="Avatar">
                        
                         </td>
                      </tr>
                      <tr>
                         <th colspan="2" class="bi">Background information</th>
                      </tr>
                      <tr>
                         <th scope="row"><span class="nowrap">Birth name</span></th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row"><span class="nowrap">Also known as</span></th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row">Born</th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row">Died</th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row"><span class="nowrap">Occupation(s)</span></th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row">Instruments</th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row"><span class="nowrap">Years active</span></th>
                         <td>From Database</td>
                      </tr>
                      <tr>
                         <th scope="row">Website</th>
                         <td>From Database</td>
                      </tr>
                   </tbody>
                </table>
            </div>
        </div>    
    </div> 
        
    <div class="container"> 
            <hr>
            <h3>Early life</h3>
            <p>Contains the information of the person's early life(From Database)</p>
            <br/>
            <h3>Career</h3>
            <p>Contains the information of the person's Career(From Database)</p>
            <br/>
            <h3>Death</h3>
            <p>Contains the information of the person's Death(From Database)</p>
            <br/>
            <hr>
            <h3><i>References</i></h3>
        </div>
    
    <script src="Js/index.js"></script>
</body>
</html>