<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="/static/css/search-item-result.css">
</head>

<body>      
    <header>
        <a class="title" href="#"><img src="/static/images/logo.png" alt="logo" style="width:60px;"> Local Search System</a>
    </header>
      <nav id="p-namespaces" class="vector-menu vector-menu-tabs vectorTabs" role="navigation"

        style="background-position: left bottom; float: left; height: 2.5em; padding-left: 1px; background-image: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%); background-repeat: no-repeat; background-size: 1px 100%;">
        <div class="body vector-menu-content">
          <ul class="vector-menu-content-list" style="list-style: none none; margin: 0px; padding: 0px; float: left; height: 40px;">
            <li id="ca-nstab-main" style="margin: 0px; padding: 0px; line-height: 1.125em; background-image: linear-gradient(to top, rgb(119, 193, 246) 0px, rgb(232, 242, 248) 1px, rgb(255, 255, 255) 100%); background-position: left bottom; background-repeat: repeat-x; float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="search-item-result.html"

                title="View the content page [alt-shift-c]" accesskey="c" style="text-decoration: none; color: rgb(6, 69, 173); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer;">Article</a></li>
                       <li id="ca-main-talk" style="margin: 0px; padding: 0px; line-height: 1.125em; background-image: linear-gradient(to top, rgb(119, 193, 246) 0px, rgb(232, 242, 248) 1px, rgb(255, 255, 255) 100%); background-position: left bottom; background-repeat: repeat-x; float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="item_details_collab.html"

                style="text-decoration: none; color: rgb(6, 69, 173); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer;">Collaboration</a></li>
            <li id="ca-nstab-comments" class="selected" style="margin: 0px; padding: 0px; line-height: 1.125em; background: rgb(255, 255, 255); float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="item_details_opinions.html"

                style="text-decoration: none; color: rgb(32, 33, 34); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer;">Opinions</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
  <h1 id="firstHeading" class="firstHeading" lang="en">Comments:Serbian protesters try to storm Parliament; fourth day of protests</h1>
      <div id="mw-content-text" dir="ltr" class="mw-content-ltr" lang="en">
          <div class="lqt-talkpage">
            <div class="mw-parser-output">
              <p><big><i><b><a href="search-item-result.html"

                        title="Serbian protesters try to storm Parliament; fourth day of protests">Back
                        to article</a></b></i></big>
              </p>
            <div class="toccolours" style="text-align:center;" id="commentary-header-lqt">
                <div class="floatright"><a href="/wiki/File:Wikinews_commentary.svg"

                    class="image"><img alt="Wikinews commentary.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Wikinews_commentary.svg/45px-Wikinews_commentary.svg.png"

                      decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/be/Wikinews_commentary.svg/68px-Wikinews_commentary.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/be/Wikinews_commentary.svg/90px-Wikinews_commentary.svg.png 2x"

                      data-file-width="290" data-file-height="290" height="45" width="45"></a></div>
                <p>This page is for commentary on the news. If you wish to point
                  out a problem in the article (e.g. factual error, etc), please
                  use <a href="/wiki/Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests"

                    title="Talk:Serbian protesters try to storm Parliament; fourth day of protests">its
                    regular collaboration page</a> instead. Comments on this
                  page do not need to adhere to the <a href="/wiki/Wikinews:NPOV"

                    class="mw-redirect" title="Wikinews:NPOV">Neutral Point of
                    View</a> policy. Please remain on topic and avoid offensive
                  or inflammatory comments where possible. Try
                  thought-provoking, insightful, or controversial. Civil
                  discussion and polite sparring make our comments pages a fun
                  and friendly place. Please think of this when posting.
                </p>
                <p><b>Use the "Start a new discussion" button just below to
                    start a new discussion.</b> If the button isn't there, wait
                  a few seconds and click this link: <b><a class="external text"

                      href="https://en.wikinews.org/w/index.php?title=Comments:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=purge">Refresh</a></b>.
                </p>
              </div>
              <p><br>
                   <div class="lqt-talkpage-header"><strong class="lqt_start_discussion"><a

                  href="/w/index.php?title=Comments:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;lqt_method=talkpage_new_thread"

                  title="Comments:Serbian protesters try to storm Parliament; fourth day of protests"

                  lqt_talkpage="Comments:Serbian protesters try to storm Parliament; fourth day of protests">Start
                  a new discussion</a></strong>
              <div class="lqt_view_options">

              </div>
    <script src="/static/js/index.js"></script>
</body>
</html>