<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="Stylesheet" href=" " "text="" javascript""="" src=""https://code.jquery.com/jquery-1.12.3.js">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
	
<body>
	
    <header>
        <a class="title" href="#"><img src="/static/images/logo.png" alt="logo" style="width:60px;"> Local Search System</a>
    </header>
    
    <div class="sidebar">
      <a href="{% url 'User:usermanagement' %}"><i class="fa fa-users navtext" title="User management"></i> User Management</a>
      <a href="{% url 'WikiNews:itemmanagement' %}"  class="active"><i class="fa fa-list navtext" title="Item management"></i> Item Management</a>
      <a href="{% url 'WikiNews:webscrapping' %}"><i class="fa fa-globe navtext" title="Web scrapping" ></i> Web Scraping</a>
      <a href="{% url 'User:logout' %}"><i class="fa fa-sign-out navtext" title="Sign out"></i> Sign Out</a>
    </div>
    
    <div class="container-lg tabledata">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Item <b>Details</b></h2></div>
                    </div>
                </div>
                <table id="item_table" class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>Item Id</th>
                            <th>Item Name</th>
                            <th>Latest Updated</th>
							<th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itemList %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td><a onclick='itemDetail({{item.id}})'>{{item.title}}</a></td>
                            <td>{{item.lastUpdated}}</td>
                            <td>
                                <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                <a class="edit" title="Edit" data-toggle="modal" data-target="#edititemModal"><i class="material-icons">&#xE254;</i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip" onClick="delItem({{item.id}});"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal" id="edititemModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Edit Item</h4>
				</div>
				<div class="modal-body">
					<form action="/wikinews/edititem" method="POST">
						{% csrf_token %}
					  <div class="form-group">
						<label for="edititemId">Item Id</label>
						<input type="number" class="form-control" id="edititemId" name="edititemId" aria-describedby="emailHelp" readonly>
						<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					  </div>
                        <div class="form-group">
						    <label for="edititemtitle">Item Name</label>
                            <textarea id="edititemtitle" class="form-control" name="edititemtitle"></textarea>
					    </div>
						<div class="text-right">
					  		<button type="submit" class="btn btn-primary btn-lg">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


    <script src="/static/js/item-management.js"></script>
</body>
</html>