<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Result</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="/static/css/search-item-result.css">
</head>

<body>      
    <header>
        <a class="title" href="#"><img src="/static/images/logo.png" alt="logo" style="width:60px;"> Local Search System</a>
    </header>
      <nav id="p-namespaces" class="vector-menu vector-menu-tabs vectorTabs" role="navigation"

        style="background-position: left bottom; float: left; height: 2.5em; padding-left: 1px; background-image: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%); background-repeat: no-repeat; background-size: 1px 100%;">
        <div class="body vector-menu-content">
          <ul class="vector-menu-content-list" style="list-style: none none; margin: 0px; padding: 0px; float: left; height: 40px;">
            <li id="ca-nstab-main" style="margin: 0px; padding: 0px; line-height: 1.125em; background-image: linear-gradient(to top, rgb(119, 193, 246) 0px, rgb(232, 242, 248) 1px, rgb(255, 255, 255) 100%); background-position: left bottom; background-repeat: repeat-x; float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="search-item-result.html"

                title="View the content page [alt-shift-c]" accesskey="c" style="text-decoration: none; color: rgb(6, 69, 173); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer;">Article</a></li>
            <li id="ca-talk" class="selected" style="margin: 0px; padding: 0px; line-height: 1.125em; background: rgb(255, 255, 255); float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="item_details_collab.html"

                rel="discussion" title="Discussion about the content page [alt-shift-t]"

                accesskey="t" style="text-decoration: none; color: rgb(32, 33, 34); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer;">Collaboration</a></li>
            <li id="ca-comments" style="margin: 0px; padding: 0px; line-height: 1.125em; background-image: linear-gradient(to top, rgb(119, 193, 246) 0px, rgb(232, 242, 248) 1px, rgb(255, 255, 255) 100%); background-position: left bottom; background-repeat: repeat-x; float: left; display: block; height: 40px; white-space: nowrap;"><a

                href="item_details_opinions.html"

                title="Discuss your personal viewpoint on the topic at hand" style="text-decoration: none; color: rgb(6, 69, 173); background: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%) right bottom / 1px 100% no-repeat; box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; color:black; font-size: 0.8125em; cursor: pointer;">Opinions</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
  <h1 id="firstHeading" class="firstHeading" lang="en">Talk:Serbian
        protesters try to storm Parliament; fourth day of protests</h1>
      <div id="bodyContent" class="mw-body-content">
            <div id="mw-content-text" dir="ltr" class="mw-content-ltr" lang="en">
          <div class="mw-parser-output">
            <h3><span id="Review_of_revision_4574269_.5BNot_ready.5D"></span><span

                class="mw-headline" id="Review_of_revision_4574269_[Not_ready]">Review
                of revision 4574269 [Not ready]</span><span class="mw-editsection"><span

                  class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=edit&amp;section=1"

                  title="Edit section: Review of revision 4574269 [Not ready]">edit</a><span

                  class="mw-editsection-bracket">]</span></span></h3>
            <div class="desktop-only">
              <table class="plainlinks xambox xambox-type-content">
                <tbody>
                  <tr>
                      <p>Revision <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574269">4574269</a>
                        of <a href="/wiki/Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests"

                          title="Serbian protesters try to storm Parliament; fourth day of protests">this
                          article</a> has been reviewed by <a href="/wiki/User:Pi_zero"

                          title="User:Pi zero">Pi zero</a> (<a href="/wiki/User_talk:Pi_zero"

                          title="User talk:Pi zero">talk</a> · <a href="/wiki/Special:Contributions/Pi_zero"

                          title="Special:Contributions/Pi zero">contribs</a>)
                        and found <b>not&nbsp;ready</b> at 20:06, 11 July 2020
                        (UTC).
                      </p>
                      <ul>
                        <li><b><a href="/wiki/Wikinews:Copyright" title="Wikinews:Copyright">Copyright</a>:</b>
                           Not ready: A couple of bits could
                          be improved; see below.</li>
                        <li><b><a href="/wiki/Wikinews:Newsworthiness" title="Wikinews:Newsworthiness">Newsworthiness</a>:</b>
                           <small>Not reviewed. Please
                            address other issues.</small></li>
                        <li><b><a href="/wiki/Wikinews:Cite_sources" title="Wikinews:Cite sources">Verifiability</a>:</b>
                           Not ready: See below.</li>
                        <li><b><a href="/wiki/Wikinews:Neutral_point_of_view" title="Wikinews:Neutral point of view">NPOV</a>:</b>
                           <small>Not reviewed. Please
                            address other issues.</small></li>
                        <li><b><a href="/wiki/Wikinews:Style_guide" title="Wikinews:Style guide">Style</a>:</b>
                        <small>Not reviewed. Please
                            address other issues.</small></li>
                      </ul>
                      <p><b>Comments by reviewer:</b>
                      </p>
                      <ul>
                        <li>The first sentence of the <a href="/wiki/Wikinews:Lede"

                            class="mw-redirect" title="Wikinews:Lede">lede</a>,
                          in the current draft, says the protests are all about
                          COVID-19 countermeasures; however, both recent sources
                          indicate the protests, while they <i>started</i>
                          about COVID-19, are now about something else.</li>
                        <li>It's not clear from the sources that these
                          protesters have been on about Vučić allegedly relaxing
                          restrictions for political reasons; the sources
                          mention criticism about this, it's just not clear the
                          criticism was part of these protests.</li>
                        <li>There were only two passages I noticed, in my
                          preliminary check, were very close to source: the list
                          of kinds of events at the end of paragraph two, and
                          the phrase "Fourteen police officers were injured".
                          Each of these seems like it ought to be relatively
                          straightforward to replace with something that
                          wouldn't bear low-level similarity to the original;
                          one wonders whether the phrasing around the latter
                          could be rearranged to use active voice.</li>
                      </ul>
                      <hr>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mobile-only">
              <table class="plainlinks xambox-mobile xambox-type-content">
                <tbody>
                  <tr>
                    <td> Revision <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574269">4574269</a>
                      of <a href="/wiki/Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests"

                        title="Serbian protesters try to storm Parliament; fourth day of protests">this
                        article</a> has been reviewed by <a href="/wiki/User:Pi_zero"

                        title="User:Pi zero">Pi zero</a> (<a href="/wiki/User_talk:Pi_zero"

                        title="User talk:Pi zero">talk</a> · <a href="/wiki/Special:Contributions/Pi_zero"

                        title="Special:Contributions/Pi zero">contribs</a>) and
                      found <b>not&nbsp;ready</b> at 20:06, 11 July 2020 (UTC).
                      <ul>
                        <li><b><a href="/wiki/Wikinews:Copyright" title="Wikinews:Copyright">Copyright</a>:</b>
                          </a> Not ready: A couple of bits could
                          be improved; see below.</li>
                        <li><b><a href="/wiki/Wikinews:Newsworthiness" title="Wikinews:Newsworthiness">Newsworthiness</a>:</b>
                          <small>Not reviewed. Please
                            address other issues.</small></li>
                        <li><b><a href="/wiki/Wikinews:Cite_sources" title="Wikinews:Cite sources">Verifiability</a>:</b>
                           Not ready: See below.</li>
                        <li><b><a href="/wiki/Wikinews:Neutral_point_of_view" title="Wikinews:Neutral point of view">NPOV</a>:</b>
                          <small>Not reviewed. Please
                            address other issues.</small></li>
                        <li><b><a href="/wiki/Wikinews:Style_guide" title="Wikinews:Style guide">Style</a>:</b>
                           <small>Not reviewed. Please
                            address other issues.</small></li>
                      </ul>
                      <p><b>Comments by reviewer:</b>
                      </p>
                      <ul>
                        <li>The first sentence of the <a href="/wiki/Wikinews:Lede"

                            class="mw-redirect" title="Wikinews:Lede">lede</a>,
                          in the current draft, says the protests are all about
                          COVID-19 countermeasures; however, both recent sources
                          indicate the protests, while they <i>started</i>
                          about COVID-19, are now about something else.</li>
                        <li>It's not clear from the sources that these
                          protesters have been on about Vučić allegedly relaxing
                          restrictions for political reasons; the sources
                          mention criticism about this, it's just not clear the
                          criticism was part of these protests.</li>
                        <li>There were only two passages I noticed, in my
                          preliminary check, were very close to source: the list
                          of kinds of events at the end of paragraph two, and
                          the phrase "Fourteen police officers were injured".
                          Each of these seems like it ought to be relatively
                          straightforward to replace with something that
                          wouldn't bear low-level similarity to the original;
                          one wonders whether the phrasing around the latter
                          could be rearranged to use active voice.</li>
                      </ul>
                      <hr>
                      <p>Questions about the above? <a class="external text" href="https://en.wikinews.org/w/index.php?title=Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=edit&amp;section=new"><b>Ask</b></a>.
                      </p>
                      If possible, please address the above issues then resubmit
                      the article for another review (by replacing {{<a href="/wiki/Template:Tasks"

                        title="Template:Tasks">tasks</a>}} in the article with
                      {{<a href="/wiki/Template:Review" title="Template:Review">review</a>}}).
                      This talk page will be updated with subsequent reviews. </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>Hello, I changed somethings that you mentioned. But DW states
              that the protests remain because the protesters are mad at how the
              government handled COVID-19 and that is also stated in this
              article. The two passages that are close of the source can’t be
              rephrased I wouldn’t know how I could do that and not give enough
              information. The sentence about the fourteen injured police
              officers i can’t change that one because the police director said
              that and otherwise I would not give enough information. <a href="/wiki/User:Finn.reports"

                title="User:Finn.reports">Finn.reports</a> (<a href="/wiki/User_talk:Finn.reports"

                title="User talk:Finn.reports">talk</a>) 20:43, 11 July 2020
              (UTC)
            </p>
            <p><a href="/wiki/User:Pi_zero" title="User:Pi zero">Pi zero</a>
              could you re-review my article?<a href="/wiki/User:Finn.reports" title="User:Finn.reports">Finn.reports</a>
              (<a href="/wiki/User_talk:Finn.reports" title="User talk:Finn.reports">talk</a>)
              14:42, 12 July 2020 (UTC)
            </p>
            <h2><span id="Review_of_revision_4574405_.5BPassed.5D"></span><span

                class="mw-headline" id="Review_of_revision_4574405_[Passed]">Review
                of revision 4574405 [Passed]</span><span class="mw-editsection"><span

                  class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=edit&amp;section=2"

                  title="Edit section: Review of revision 4574405 [Passed]">edit</a><span

                  class="mw-editsection-bracket">]</span></span></h2>
            <div class="desktop-only">
              <table class="plainlinks xambox xambox-type-notice">
                <tbody>
                  <tr>
                      <p>Revision <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574405">4574405</a>
                        of <a href="/wiki/Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests"

                          title="Serbian protesters try to storm Parliament; fourth day of protests">this
                          article</a> has been reviewed by <a href="/wiki/User:Pi_zero"

                          title="User:Pi zero">Pi zero</a> (<a href="/wiki/User_talk:Pi_zero"

                          title="User talk:Pi zero">talk</a> · <a href="/wiki/Special:Contributions/Pi_zero"

                          title="Special:Contributions/Pi zero">contribs</a>)
                        and has <b>passed</b> its review at 23:03, 12 July 2020
                        (UTC).
                      </p>
                      <ul>
                        <li><b><a href="/wiki/Wikinews:Copyright" title="Wikinews:Copyright">Copyright</a>:</b>
                          Passed</li>
                        <li><b><a href="/wiki/Wikinews:Newsworthiness" title="Wikinews:Newsworthiness">Newsworthiness</a>:</b>
                          Passed</li>
                        <li><b><a href="/wiki/Wikinews:Cite_sources" title="Wikinews:Cite sources">Verifiability</a>:</b>
                          Passed</li>
                        <li><b><a href="/wiki/Wikinews:Neutral_point_of_view" title="Wikinews:Neutral point of view">NPOV</a>:</b>
                           Passed</li>
                        <li><b><a href="/wiki/Wikinews:Style_guide" title="Wikinews:Style guide">Style</a>:</b>
                        Passed</li>
                      </ul>
                      <p><b>Comments by reviewer:</b>
                      </p>
                      <ul>
                        <li>I realize it is sometimes hard to picture how to say
                          things differently, until one has seen it done; so, on
                          a one-time basis (I couldn't do as much regularly),
                          I've tried to demonstrate how passages such as the
                          fourteen-injured sentence (and the sentence before it
                          which was also substantially from source) can be
                          completely rearranged. Hopefully, this can serve as
                          some general inspiration for this sort of thing.</li>
                        <li>Some of the English grammar was a bit rough, and I
                          smoothed it (verb tense and number, things like that).
                          As always, see the <span class="plainlinks"><span style="color:#002bb8"><a

                                class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=history">history
                                of edits during review</a></span></span>.</li>
                      </ul>
                      <hr>
                      <p><small>The <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574405">reviewed
                            revision</a> should automatically have been edited
                          by removing {{<a href="/wiki/Template:Review" title="Template:Review">Review</a>}}
                          and adding {{<a href="/wiki/Template:Publish" title="Template:Publish">Publish</a>}}
                          at the bottom, and the edit <a href="/wiki/Wikinews:Flagged_revisions"

                            title="Wikinews:Flagged revisions">sighted</a>; if
                          this did not happen, it may be done manually by a <a

                            href="/wiki/Wikinews:Reviewing" title="Wikinews:Reviewing">reviewer</a>.</small>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mobile-only">
              <table class="plainlinks xambox-mobile xambox-type-notice">
                <tbody>
                  <tr>
                    <td> Revision <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574405">4574405</a>
                      of <a href="/wiki/Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests"

                        title="Serbian protesters try to storm Parliament; fourth day of protests">this
                        article</a> has been reviewed by <a href="/wiki/User:Pi_zero"

                        title="User:Pi zero">Pi zero</a> (<a href="/wiki/User_talk:Pi_zero"

                        title="User talk:Pi zero">talk</a> · <a href="/wiki/Special:Contributions/Pi_zero"

                        title="Special:Contributions/Pi zero">contribs</a>) and
                      has <b>passed</b> its review at 23:03, 12 July 2020
                      (UTC).
                      <ul>
                        <li><b><a href="/wiki/Wikinews:Copyright" title="Wikinews:Copyright">Copyright</a>:</b>
                           Passed</li>
                        <li><b><a href="/wiki/Wikinews:Newsworthiness" title="Wikinews:Newsworthiness">Newsworthiness</a>:</b>
                           Passed</li>
                        <li><b><a href="/wiki/Wikinews:Cite_sources" title="Wikinews:Cite sources">Verifiability</a>:</b>
                          Passed</li>
                        <li><b><a href="/wiki/Wikinews:Neutral_point_of_view" title="Wikinews:Neutral point of view">NPOV</a>:</b>
                           Passed</li>
                        <li><b><a href="/wiki/Wikinews:Style_guide" title="Wikinews:Style guide">Style</a>:</b>
                           Passed</li>
                      </ul>
                      <p><b>Comments by reviewer:</b>
                      </p>
                      <ul>
                        <li>I realize it is sometimes hard to picture how to say
                          things differently, until one has seen it done; so, on
                          a one-time basis (I couldn't do as much regularly),
                          I've tried to demonstrate how passages such as the
                          fourteen-injured sentence (and the sentence before it
                          which was also substantially from source) can be
                          completely rearranged. Hopefully, this can serve as
                          some general inspiration for this sort of thing.</li>
                        <li>Some of the English grammar was a bit rough, and I
                          smoothed it (verb tense and number, things like that).
                          As always, see the <span class="plainlinks"><span style="color:#002bb8"><a

                                class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;action=history">history
                                of edits during review</a></span></span>.</li>
                      </ul>
                      <hr>
                      <small>The <a class="external text" href="https://en.wikinews.org/w/index.php?title=Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574405">reviewed
                          revision</a> should automatically have been edited by
                        removing {{<a href="/wiki/Template:Review" title="Template:Review">Review</a>}}
                        and adding {{<a href="/wiki/Template:Publish" title="Template:Publish">Publish</a>}}
                        at the bottom, and the edit <a href="/wiki/Wikinews:Flagged_revisions"

                          title="Wikinews:Flagged revisions">sighted</a>; if
                        this did not happen, it may be done manually by a <a href="/wiki/Wikinews:Reviewing"

                          title="Wikinews:Reviewing">reviewer</a>.</small> </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ul>
              <li>If I may criticize my own review of this, the lede really
                should mention the storming of parliament, in particular, since
                that is mentioned in the headline. --<a href="/wiki/User:Pi_zero"

                  title="User:Pi zero">Pi zero</a> (<a href="/wiki/User_talk:Pi_zero"

                  title="User talk:Pi zero">talk</a>) 23:14, 12 July 2020 (UTC)</li>
            </ul>
    </div>
          <noscript><img src="//en.wikinews.org/wiki/Special:CentralAutoLogin/start?type=1x1"

alt="" title="" style="border: none; position: absolute;" height="1" width="1"></noscript></div>
        <div class="printfooter">Retrieved from "<a dir="ltr" href="https://en.wikinews.org/w/index.php?title=Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574414">https://en.wikinews.org/w/index.php?title=Talk:Serbian_protesters_try_to_storm_Parliament;_fourth_day_of_protests&amp;oldid=4574414</a>"</div>
        <div id="catlinks" class="catlinks catlinks-allhidden" data-mw="interface">
          <div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Hidden
            categories:
            <ul>
              <li><a href="/wiki/Category:Peer_reviewed/Not_ready" title="Category:Peer reviewed/Not ready">Peer
                  reviewed/Not ready</a></li>
              <li><a href="/wiki/Category:Peer_reviewed/Not_ready/Pi_zero" title="Category:Peer reviewed/Not ready/Pi zero">Peer
                  reviewed/Not ready/Pi zero</a></li>
              <li><a href="/wiki/Category:Peer_reviewed/Passed" title="Category:Peer reviewed/Passed">Peer
                  reviewed/Passed</a></li>
              <li><a href="/wiki/Category:Peer_reviewed/Passed/Pi_zero" title="Category:Peer reviewed/Passed/Pi zero">Peer
                  reviewed/Passed/Pi zero</a></li>
            </ul>
          </div>
        </div>
      </div>
       <p><big><a href="search-item-result.html" style="color:black"

                        title="Article">Back
                        to Article page</a></big>
              </p>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>